*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.center{

    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    
    
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.top__content{
    padding-bottom: 493px;
    padding-top: 217px;
}
.title{
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}
.top__text{
color: #FFF;
font-size: 18px;
line-height: 32px;
line-height: 32px; 
margin-top: 32px;
margin-bottom: 44px;


}
.top__button{
    background: #9C0332;
    padding: 13px 74px;
    border-radius: 30px;
    border:none;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}
.game__content{
    display: flex;
    gap: 32px;
    padding-bottom: 128px;
    padding-top: 128px;
}
.game{
    flex: 1;
    position: relative;
}
.game__image{
border-radius: 16px;
}
.game__name{
    position: absolute;
    bottom: 32px;
    left: 32px;
    color:#FFF;
    font-weight: 600;
    font-size: 24px;

}
.choose-game{
 background: #000915;
}
